<!DOCTYPE html>
<html>
<head>
  <title>Kirjautuminen</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <ul class="flash-messages">
        {% for category, msg in messages %}
          <li class="flash-message flash-{{ category }}">
            {{ msg }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
  {% endif %}

  <p class="nav-links">
    <a href="{{ url_for('reviews_bp.index') }}">Etusivu</a>
    | <a href="{{ url_for('reviews_bp.about') }}">Tietoa sovelluksesta</a>
    {% if not session.username %}
      | <a href="{{ url_for('user_bp.register') }}">Rekisteröidy</a>
    {% else %}
      | <a href="{{ url_for('user_bp.profile', username=session.username) }}">Profiili</a>
      | <a href="/logout">Kirjaudu ulos</a>
    {% endif %}
  </p>

  {% if not session.username %}
    <form action="/login" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <h1>Kirjaudu sisään</h1>
      <p>
        Tunnus: <br />
        <input type="text" name="username" />
      </p>
      <p>
        Salasana: <br />
        <input type="password" name="password" />
      </p>
      <input type="submit" value="Kirjaudu" />
    </form>
    <p class="login-register-hint">Ei vielä tunnusta? <a href="{{ url_for('user_bp.register') }}">Rekisteröidy</a></p>
  {% endif %}

</body>
</html>