<!DOCTYPE html>
<html>
<head>
  <title>Rekisteröinti</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <a href="{{ url_for('reviews_bp.index') }}" class="home-link">
    <img src="{{ url_for('static', filename='home-icon.svg') }}" alt="Home" class="home-icon" />
  </a>

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <ul class="flash-messages">
        {% for category, msg in messages %}
          <li class="flash-message flash-{{ category }}">
            {{ msg }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
  {% endif %}

  <p class="nav-links">
    <a href="{{ url_for('reviews_bp.index') }}">Etusivu</a>
    | <a href="{{ url_for('reviews_bp.about') }}">Tietoa sovelluksesta</a>
    {% if not session.username %}
      | <a href="{{ url_for('user_bp.login') }}">Kirjaudu</a>
    {% else %}
      | <a href="{{ url_for('user_bp.profile', username=session.username) }}">Profiili</a>
      | <a href="/logout">Kirjaudu ulos</a>
      | <a href="/new_item">Lisää uusi elokuva</a>
    {% endif %}
  </p>

  <form action="/create" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <h1>Luo uusi tunnus</h1>
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>

  <p class="register-login-hint">Onko sinulla jo tunnus? <a href="{{ url_for('user_bp.login') }}">Kirjaudu sisään</a></p>

</body>
</html>